html
  font-size: medium

$header-height: 48px
.header
  height: $header-height

.map
  width: 100%
  height: 700px
  object-fit: fill

.address_item
  margin: 15px
  padding: 10px
  background: #e8f3e0